<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Forum</title>
    <link rel="stylesheet" href="static/form.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin_form" class="active">Admin Form</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <h1>Admin Form</h1>
            <form id="adminForm">
                <input type="text" name="first_name" placeholder="Enter your first name here" required>
                <input type="text" name="last_name" placeholder="Enter your last name here" required>
                <input type="email" name="email" placeholder="Enter your email here" required>
                <select name="availability_days" multiple required>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                
                <input type="text" name="operations" placeholder="Enter the operation here" required>
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </main>
    <footer>
        <p>© 2024 Hospital Management System</p>
    </footer>

    <script>
    document.getElementById('adminForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this);

        // Get all selected availability days and store them in an array
        const availabilityDays = Array.from(document.querySelector('[name="availability_days"]').selectedOptions).map(option => option.value);
        
        // Construct the data object including the 'availability' array
        const data = Object.fromEntries(formData);
        data.availability = availabilityDays;

        fetch('/doctors', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error("Server response wasn't OK");
            }
        })
        .then(data => {
            console.log(data);
            alert('Your response has been recorded');
            window.location.reload(); // Reload the page
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    </script>
</body>
</html>