<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="static/homepage.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#about">About us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            <h2>Please select an option</h2>
            <button onclick="window.location='/patient_form';">Are you a Patient</button>
            <button onclick="window.location='/admin_form';">Are you a hospital worker</button>

        </div>
    </main>
    <footer>
        <p>© 2024 Hospital Management System</p>
    </footer>
</body>
</html>